<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Montserrat&display=swap" rel="stylesheet">


<h1 class="homename">Iran Martinez</h1>



<h2 class="homejobs">Photographer & Filmmaker</h2>



<div class="homeline">
    <hr>
</div>

<div class="container">
    {{ $numColumns := 3 }}
    {{ range $idx, $proj:= .Site.Data.project_order.content }}
        {{ if modBool $idx $numColumns }} 
        {{/*  if $idx modulo $numColumns = 0  */}}
            <div class="row gallery-row">
        {{ end }}
        {{ with $.Site.GetPage $proj }}
        {{ $img:= .Resources.GetMatch .Params.projectImage }}
        {{ $imgThumb := $img.Fill "711x600" }}
        {{/*  Resizes and crops the project image to 400 X 400 so that we get a perfect square which loads quickly  */}}
        <div class="col-4">
            <div class="card h-100 border-3">
                <img src="{{ $imgThumb.RelPermalink }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="{{ .RelPermalink }}" class="stretched-link">
                        <h5 class="card-title">{{ .Title }}</h5>
                        <p class="card-text">{{ .Params.shortDescription }}</p>
                    </a>
                </div>
            </div>
        </div>

            {{/*  <h2>{{ .Title }}</h2>
            <p>{{ .Params.shortDescription }}</p>
            {{ $img:= .Resources.GetMatch .Params.projectImage }}  */}}
            {{/*  .Params.projectImage is just the name of the file, but it isn't the file itself and also 
            doesn't tell us exactly where the file is. Instead of hardcoding the path, we use GetMatch to find the path  */}}
            {{/*  GetMatch returns the very first thing it finds when searching so don't have more than one file with the same name  */}}
            {{/*    */}}
            {{/*  <img src="{{ $img.RelPermalink }}" />  */}}

            
        {{ end }}
        {{ $nextIdx := add $idx 1 }}
        {{ if modBool $nextIdx $numColumns }}
        {{/*  if the index of the following project will be a multiple of $numColumns, end the row  */}}
            </div>
        {{ end }}
    {{ end }}
</div>

<h3>About Me:</h3>

<div class="homeline">
<hr>
</div>
<div class="homeparagraph">
        <p>Hello! My name is Iran Martinez and I am a photographer and filmmaker. As a photographer, I focus on performance and event photography; capturing high quality action photos, and photos that capture an event’s focal point. As a filmmaker, I enjoy making films that challenge me creatively in story boarding for a film, and those that challenge my perspectives when choosing each shot of every scene. My interests and passion in photography and film are displayed in my work as a social media producer for Entercom Communication and videographer for Aggie Studios.</p>
        <p><b><u>Contact Info:</b></p></u> 
        <p><b>Phone Number:</b> (760) 693-2448</p>
        <p><b>Email:</b> ijrmartinez@ucdavis.edu</p>
    </div>

